/* custom */
.flex-center {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.flex-evenly {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.underline {
  text-decoration: underline;
}
.text-align-center {
  text-align: center;
}
.register-section,
.signup-signin {
  font-size: 0.8em;
  text-align: center;
}
.register-section a,
.signup-signin a {
  font-weight: 400;
}
/* initial-page */
.logo-section {
  text-align: center;
  font-size: 3em;
  margin-bottom: 10vmin;
}
.logo-section h1 {
  font-size: 0.4em;
  margin-top: 0px;
}
.signin-guide {
  margin-left: 0.8em;
  text-align: left;
  font-size: 0.9em;
  font-weight: 800;
}
.username {
  margin-top: 1em;
}
/* signup */
.signin-btn,
.signup-btn {
  background-color: #604bc9;
  color: white;
}
.birthtap {
  display: flex;
  justify-content: space-between;
}
.birth-month {
  width: 100%;
}
.birth-date {
  width: 100%;
}
.birth-year {
  width: 100%;
}
.termsandconditions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.agreement {
  width: 100%;
  color: #777;
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 0.7em;
  letter-spacing: 0.1px;
}
.agreement a {
  color: #604bc9;
  font-weight: 500;
  text-decoration: underline #604bc9;
}
/* home */
.greeting-section {
  font-size: 1.6em;
}
.pathlist-section {
  display: flex;
  flex-wrap: wrap;
}

.listbox {
  display: inline-block;
  flex: 1 1 40%;
  width: 100%;
  height: 6em;
  padding: 1em;
  background-color: var(--color-neutral-light);
  border-radius: 5%;
}

/* top right bottom left */
.listbox1 {
  margin: 0 0.6em 0.6em 0;
}
.listbox2 {
  margin: 0 0 0.6em 0.6em;
}
.listbox3 {
  margin: 0.6em 0.6em 0 0;
}
.listbox4 {
  margin: 0.6em 0 0 0.6em;
}
/* my steps */

.feed-img {
  height: 20em;
  overflow: hidden;
}
.mysteps {
  overflow-x: scroll;
}

/* analysis */
.analysis {
  overflow-x: scroll;
}
.analysis1-wrapper {
  background-color: var(--color-neutral-medium);
  border-radius: 3%;
  padding: 1em;
  height: 23em;
}
.step-bar1,
.step-bar2,
.step-bar3,
.step-bar4 {
  position: relative;
  width: 100%;
  height: 1em;
  top: 0;
  left: 0;
  background: var(--color-neutral-light);
}
.step-bar2,
.step-bar4 {
  width: 50%;
}
/* profile */
.profile-inform-section,
.step-inform-section {
  padding: 0 2em;
  background-color: var(--color-neutral-light);
  /* border-radius: 2%; */
  height: 5em;
  text-align: center;
  margin-bottom: 2em;
}
/* Modals */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: all 0.2s;
  opacity: 0;
  z-index: 10;
}
.modal.active {
  opacity: 1;
  pointer-events: initial;
}
.modal-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-back.transparent {
  background-color: transparent;
}
.modal-back.passthrough {
  pointer-events: none;
}

.modal-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 3em));
  width: calc(100vw - 3em);
  max-height: calc(100vh - 25em);
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  transition: all 0.4s;
}
.modal.active .modal-popup {
  transform: translate(-50%, -50%);
}
.modal-head,
.modal-foot {
  background-color: var(--color-neutral-lighter);
  line-height: 5rem;
  padding: 0 1em;
  color: white;
  background-color: #252525;
}
.modal-head {
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
}
.modal-foot {
  line-height: 3rem;
  color: #ffffff;
  font-weight: 700;
  background-color: #604bc9;
  text-align: center;
  border-radius: 10px;
}
.modal-body {
  flex: 1 1 100%;
  padding: 1em;
  color: white;
  overflow: scroll;
  background-color: #19191a;
}
.terms-text {
  font-size: 0.8em;
}
.terms-text h1 {
  text-indent: 1em;
  margin-top: 1.2em;
  font-size: 1.2em;
}
.terms-text p {
  margin-top: 4em;
  line-height: 1.6em;
}
