@font-face {
  font-family: 'sinistre';
  src: url('fonts/Sinistre-StCaroline.woff2') format('woff2'),
    url('fonts/Sinistre-StCaroline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gt america';
  src: url('fonts/gt_america_expanded_regular-webfont.woff') format('woff2'),
    url('fonts/gt_america_expanded_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
  /* font-family: 'Hatton'; */
  /* font-family: 'dela gothic one'; */
  /* font-family: 'newake'; */
  /* font-family: 'dx sitrus'; */
  /* font-family: 'sinistre'; */
  /* font-family: 'bigilla'; */
  /* font-family: 'migha'; */
  /* font-family: 'zoika font'; */
  font-family: 'gt america';
  /* background: black;
  color: white; */
}
::selection {
  background-color: rgba(53, 24, 249, 1);
  color: white;
}

.extra1 {
  position: fixed;
  height: 30px;
  color: black;
  top: 1%;
  left: 18vw;
  animation: menuload 2.5s;
  z-index: 3;
}
@keyframes menuload {
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }
  80% {
    transform: translateY(-40%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.extra1::after {
  content: 'ABOUT THE PROJECT';
  /* padding: 0 100px; */
}
.extra1:hover {
  background: linear-gradient(
    90deg,
    rgba(53, 24, 249, 1) 10%,
    rgba(165, 19, 255, 1) 39%,
    rgba(247, 55, 173, 1) 66%,
    rgba(255, 24, 24, 1) 94%
  );
  color: white;
  transform: skew(-50deg, 0deg);
}
.extra1:hover + .extra2 {
  opacity: 1;
}
.extra2 {
  position: fixed;
  width: 50%;
  height: 50%;
  background: linear-gradient(
    90deg,
    rgba(53, 24, 249, 1) 10%,
    rgba(165, 19, 255, 1) 39%,
    rgba(247, 55, 173, 1) 66%,
    rgba(255, 24, 24, 1) 94%
  );
  top: 15vw;
  left: 25vw;
  padding: 2em;
  font-size: 1em;
  line-height: 1.5em;
  color: white;
  opacity: 0;
  z-index: 1;
}
.extra2::after {
  content: 'This project is part of the IXD 617 class at the Academy of Art University. CSS ZEN GARDEN is a project to create unique and interesting designs by adding only CSS to a given HTML structure.';
}
.extra3 {
  position: fixed;
  height: 30px;
  top: 1%;
  right: 18vw;
  animation: menuload 2.5s;
  z-index: 3;
}
.extra3::after {
  content: 'ABOUT THE DESIGNER';
}
.extra3:hover {
  background: linear-gradient(
    90deg,
    rgba(53, 24, 249, 1) 10%,
    rgba(165, 19, 255, 1) 39%,
    rgba(247, 55, 173, 1) 66%,
    rgba(255, 24, 24, 1) 94%
  );
  color: white;
  transform: skew(-50deg, 0deg);
}
.extra3:hover + .extra4 {
  opacity: 1;
}
.extra4 {
  position: fixed;
  width: 50%;
  height: 50%;
  text-align: left;
  background: linear-gradient(
    90deg,
    rgba(53, 24, 249, 1) 10%,
    rgba(165, 19, 255, 1) 39%,
    rgba(247, 55, 173, 1) 66%,
    rgba(255, 24, 24, 1) 94%
  );
  top: 15vw;
  left: 25vw;
  padding: 2em;
  font-size: 1em;
  line-height: 1.5em;
  color: white;
  z-index: 1;
  opacity: 0;
}
.extra4::after {
  content: 'https://makyungseok.com/aau/wnm617/ma.david/profile/';
}
.extra5 {
  position: fixed;
  width: 200%;
  height: 1px;
  background: black;
  top: 40px;
  left: -100%;
  animation: menuload2 2s forwards;
}
@keyframes menuload2 {
  0% {
    opacity: 0;
    transform: translateX(-200%);
  }
  50% {
    opacity: 0;
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.extra6 {
  position: fixed;
  width: 1px;
  height: 44px;
  top: -4px;
  left: 50%;
  background: black;
  animation: menuload 2.2s;
}
footer {
  position: fixed;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  bottom: 1%;
  left: 0;
  z-index: 5;
}

footer a {
  text-decoration: none;
  color: black;
  animation: opacityin 5.5s;
}
@keyframes opacityin {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer a:hover {
  background: linear-gradient(
    90deg,
    rgba(53, 24, 249, 1) 10%,
    rgba(165, 19, 255, 1) 39%,
    rgba(247, 55, 173, 1) 66%,
    rgba(255, 24, 24, 1) 94%
  );
  color: white;
}

footer::before {
  position: fixed;
  content: '';
  background: black;
  width: 200%;
  height: 1px;
  bottom: 45px;
  left: 0;
  animation: menuload3 3.5s;
}
@keyframes menuload3 {
  0% {
    transform: translateX(40%);
    opacity: 0;
  }
  50% {
    transform: translateX(40%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes menuload4 {
  0% {
    transform: translate3d(0, 40%, 0);
    opacity: 0;
  }
  50% {
    transform: translate3d(0, 40%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.zen-validate-html::before {
  position: fixed;
  content: '';
  background: black;
  width: 1px;
  height: 45px;
  bottom: 0;
  left: 21%;
  animation: menuload4 5.5s;
}
.zen-validate-html::after {
  position: fixed;
  content: '';
  background: black;
  width: 1px;
  height: 45px;
  bottom: 0;
  left: 42.2%;
  animation: menuload4 5.5s;
}
.zen-validate-css::before {
  position: fixed;
  content: '';
  background: black;
  width: 1px;
  height: 45px;
  bottom: 0;
  left: 60.5%;
  animation: menuload4 5.5s;
}
.zen-validate-css::after {
  position: fixed;
  content: '';
  background: black;
  width: 1px;
  height: 45px;
  bottom: 0;
  left: 80%;
  animation: menuload4 5.5s;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header[role='banner'] {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vw;
  top: -7em;
  color: transparent;
  text-transform: uppercase;
  animation: loadani 5s cubic-bezier(0.42, 0, 0.04, 1);
  /* animation: loadani 5s infinite; */
}
@keyframes loadani {
  0% {
    transform: skew(15deg, 30deg);
    transform: translate3d(-80rem, 0, 15rem);
  }
  50% {
    transform: skew(-5deg, -10deg);
  }
  100% {
    transform: skew(0deg, 0deg);
    transform: translate3d(0, 0, 0);
  }
}
header[role='banner'] h1 {
  font-family: 'sinistre';
  font-size: 16vw;
  font-weight: 100;
  margin-top: -43vw;
  animation: gradient 10s linear alternate infinite;
  background: linear-gradient(
    90deg,
    rgba(53, 24, 249, 1) 10%,
    rgba(165, 19, 255, 1) 39%,
    rgba(247, 55, 173, 1) 66%,
    rgba(255, 24, 24, 1) 94%
  );
  background-size: 400%;
  text-align: center;
  -webkit-background-clip: text;
  line-height: 16vw;
}
header[role='banner'] h1::after {
  display: block;
  position: absolute;
  top: 12vw;
  left: 2vw;
  content: 'CSSZEN GARDEN';
  font-family: 'Great Vibes', cursive;
  font-size: 12vw;
  font-weight: 100;
  letter-spacing: 1vw;
  line-height: 15vw;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  animation: fadeinout 10s infinite;
  z-index: -1;
  /* opacity: 0; */
}
@keyframes fadeinout {
  0% {
    opacity: 0;
    transform: translateY(-1%);
  }
  25% {
    transform: translateY(1%);
  }
  50% {
    opacity: 1;
    transform: translateY(-1%);
  }
  75% {
    transform: translateY(1%);
  }
  100% {
    opacity: 0;
    transform: translateY(-1%);
  }
}
header[role='banner'] h2 {
  font-family: 'gt america';
  font-size: 2.5vw;
  font-weight: 500;
  letter-spacing: 0.5vw;
  animation: gradient 10s linear alternate infinite;
  background: linear-gradient(
    90deg,
    rgba(53, 24, 249, 1) 10%,
    rgba(165, 19, 255, 1) 39%,
    rgba(247, 55, 173, 1) 66%,
    rgba(255, 24, 24, 1) 94%
  );
  background-size: 400%;
  text-align: center;
  -webkit-background-clip: text;
  margin-top: 1.2vw;
}
header[role='banner'] h2 abbr {
  font-family: 'sinistre';
  font-size: 3.5vw;
  font-weight: 500;
  background: linear-gradient(
    90deg,
    rgba(53, 24, 249, 1) 10%,
    rgba(165, 19, 255, 1) 39%,
    rgba(247, 55, 173, 1) 66%,
    rgba(255, 24, 24, 1) 94%
  );
  color: transparent;
  -webkit-background-clip: text;
  background-size: 400%;
  animation: gradient 10s linear alternate infinite;
  text-decoration: none;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.summary {
  position: relative;
  width: 50%;
  height: 100%;
  top: -56vw;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 30px;
  animation: loadani2 6.5s;
}

@keyframes loadani2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.summary a {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: black;
  background: linear-gradient(
    90deg,
    rgba(53, 24, 249, 1) 10%,
    rgba(165, 19, 255, 1) 39%,
    rgba(247, 55, 173, 1) 66%,
    rgba(255, 24, 24, 1) 94%
  );
  color: white;
  padding: 0 1rem;
  background-size: 400%;

  animation: gradient 10s linear alternate infinite;
}
.summary a:hover {
  background: black;
}
.preamble::before {
  position: absolute;
  content: '';
  background: url(images/light.png) no-repeat;
  width: 499px;
  height: 499px;
  top: 0;
  left: -20%;
  animation: rotate 15s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.preamble {
  position: relative;
  width: 80%;
  height: 100%;
  text-align: left;
  top: -30vw;
  left: 1.5%;
  transform: rotate(15deg);
}
.preamble h3 {
  font-size: 4rem;
  margin-bottom: 2em;
  text-decoration: underline;
  text-decoration-style: dotted;
  animation: textmoving 10s infinite;
}
.preamble p {
  font-size: 2rem;
  line-height: 1.5em;
  animation: textmoving 20s infinite;
}
@keyframes textmoving {
  0% {
    transform: translateX(20%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(20%);
  }
}
.preamble abbr,
.explanation abbr,
.participation abbr,
.requirements abbr {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Great Vibes', cursive;
  font-size: 1.7em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.preamble abbr {
  font-size: 3vw;
}
.participation p a abbr {
  -webkit-text-stroke-color: white;
}
.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20%;
  margin-bottom: 20%;
}
.explanation,
.benefits {
  position: relative;
  width: 50%;
  left: 7%;
  top: -40vw;
}
.participation,
.requirements {
  position: relative;
  width: 50%;
  left: 40%;
  top: -40vw;
  z-index: 2;
}
.explanation h3,
.participation h3,
.benefits h3,
.requirements h3 {
  font-size: 4rem;
  margin-top: 5%;
}
.explanation p,
.participation p,
.benefits p,
.requirements p {
  font-size: 1.5em;
  line-height: 1.8em;
  margin-top: 2%;
}
.requirements p:last-child {
  margin-bottom: -50vw;
}

.participation a,
.requirements a {
  text-decoration: none;
  background: black;
  color: white;
}
.participation a:hover {
  text-decoration: none;
  background: linear-gradient(
    90deg,
    rgba(53, 24, 249, 1) 10%,
    rgba(165, 19, 255, 1) 39%,
    rgba(247, 55, 173, 1) 66%,
    rgba(255, 24, 24, 1) 94%
  ) !important;
  color: white;
}

.requirements a:hover {
  text-decoration: none;
  background: linear-gradient(
    90deg,
    rgba(53, 24, 249, 1) 10%,
    rgba(165, 19, 255, 1) 39%,
    rgba(247, 55, 173, 1) 66%,
    rgba(255, 24, 24, 1) 94%
  ) !important;
  color: white;
}
.wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  bottom: 52px;
}
.explanation::before {
  position: absolute;
  font-family: 'sinistre';
  content: '.CSS';
  font-size: 30vw;
  transform: rotate(90deg);
  letter-spacing: -2vw;
  left: 50vw;
  top: -35vw;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  animation: hanging 10s infinite cubic-bezier(0.42, 0, 0.06, 1.03);
  transform-origin: bottom left;
}
/* .participation::before {
  position: absolute;
  content: '';
  background: url(images/light2.png) no-repeat;
  width: 3px;
  height: 866px;
  top: -100px;
  left: -600px;
  transform-origin: 50% 50%;
  animation: rotate 17s linear reverse infinite;
} */
.benefits::before {
  position: absolute;
  content: '';
  background: url(images/light2.png) no-repeat;
  width: 866px;
  height: 866px;
  top: -600px;
  left: -600px;
  transform-origin: 50% 50%;
  animation: rotate 17s linear infinite;
}
.requirements::before {
  position: absolute;
  content: '';
  /* width: 400px; */
  top: 800px;
  left: -400px;
  border-radius: 0%;
  border: 1.5px solid black;
  animation: skewsqure 15s infinite;
  transform-origin: left bottom;
}
.requirements::after {
  position: absolute;
  content: '';
  /* width: 500px;
  height: 400px; */
  top: 800px;
  left: -400px;
  border-radius: 90%;
  border: 1.5px solid black;
  animation: skewsqure 22s infinite;
  transform-origin: left bottom;
}
@keyframes skewsqure {
  0% {
    transform: skew(0, 0);
    width: 75%;
    height: 55%;
  }
  25% {
    transform: skew(30deg, 15deg);
    width: 85%;
    height: 50%;
  }
  50% {
    transform: skew(-5deg, -5deg);
    width: 80%;
    height: 65%;
  }
  75% {
    transform: skew(20deg, -20deg);
    width: 65%;
    height: 70%;
  }
  100% {
    transform: skew(0, 0);
    width: 75%;
    height: 55%;
  }
}
@keyframes hanging {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(80deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(80deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
aside {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 5.6vw;
  z-index: 3;
  font-size: 1vw;
  top: 0vw;
  bottom: 0;
}
aside a {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: black;
}
aside a:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(53, 24, 249, 1) 10%,
    rgba(165, 19, 255, 1) 39%,
    rgba(247, 55, 173, 1) 66%,
    rgba(255, 24, 24, 1) 94%
  );
}
.benefits::after {
  position: absolute;
  content: '';
  background: url(images/light.png) no-repeat;
  width: 499px;
  height: 499px;
  top: 0;
  left: 80vw;
  font-family: 'sinistre';
  font-size: 200vw;
  overflow-y: hidden;
  animation: rotate 15s linear infinite;
  transform-origin: 50% 50%;
}
.select::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 44.9vw;
  background: black;
  bottom: -6px;
  left: 6vw;
}
.select::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 44.9vw;
  background: black;
  bottom: -6px;
  left: 35.5vw;
}
.archives::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 44.9vw;
  background: black;
  bottom: -6px;
  left: 48vw;
}
.archives::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 44.9vw;
  background: black;
  bottom: -6px;
  left: 67vw;
}
.resources::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 44.9vw;
  background: black;
  bottom: -6px;
  left: 75vw;
}
nav ul li:nth-child(1)::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: black;
  bottom: 44.5vw;
  left: 0;
}
nav ul li:nth-child(1)::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: black;
  bottom: 39vw;
  left: 0;
}
nav ul li:nth-child(2)::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: black;
  bottom: 33.5vw;
  left: 0;
}
nav ul li:nth-child(2)::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: black;
  bottom: 27.7vw;
  left: 0;
}
nav ul li:nth-child(3)::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: black;
  bottom: 22.3vw;
  left: 0;
}
nav ul li:nth-child(3)::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: black;
  bottom: 16.8vw;
  left: 0;
}
nav ul li:nth-child(4)::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: black;
  bottom: 11.2vw;
  left: 0;
}
nav ul li:nth-child(4)::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: black;
  bottom: 5.4vw;
  left: 0;
}

@media (max-width: 1440px) {
  header[role='banner'] h1 {
    margin-top: -2em;
  }
  header[role='banner'] h1::after {
    margin-top: 0.5em;
  }
  .summary {
    margin-top: 2em;
    font-size: 0.7em;
    line-height: 2em;
    width: 60%;
  }
  .preamble h3 {
    font-size: 3.4rem;
  }
  .preamble p {
    font-size: 1.4rem;
  }
  .explanation h3,
  .participation h3,
  .benefits h3,
  .requirements h3 {
    font-size: 3.6rem;
    margin-top: 5%;
  }
  .explanation p,
  .participation p,
  .benefits p,
  .requirements p {
    font-size: 1.1em;
    line-height: 1.8em;
    margin-top: 2%;
  }
}
@media (max-width: 1024px) {
  .extra1,
  .extra3 {
    top: 0.8em;
    font-size: 0.8em;
  }
  .extra2,
  .extra4 {
    left: 4vw;
    font-size: 0.8em;
    width: 90%;
    line-height: 20px;
  }
  .extra4::after {
    word-break: break-word;
  }

  header[role='banner'] h1 {
    margin-top: -1.5em;
  }
  header[role='banner'] h1::after {
    margin-top: 1em;
  }
  .summary {
    margin-top: 4em;
    font-size: 0.7em;
    line-height: 2em;
    width: 70%;
  }
  .preamble h3 {
    font-size: 3rem;
  }
  .preamble p {
    font-size: 1rem;
  }
  .explanation h3,
  .participation h3,
  .benefits h3,
  .requirements h3 {
    font-size: 3.2rem;
    margin-top: 5%;
  }
  .explanation p,
  .participation p,
  .benefits p,
  .requirements p {
    font-size: 0.9em;
    line-height: 1.8em;
    margin-top: 2%;
  }
  footer {
    font-size: 0.8em;
  }
}
@media (max-width: 960px) {
  header[role='banner'] h1 {
    margin-top: -1em;
  }
  header[role='banner'] h1::after {
    margin-top: 1em;
  }
  .summary {
    margin-top: 6em;
    font-size: 0.7em;
    line-height: 2em;
    width: 60%;
  }
}
@media (max-width: 768px) {
  header[role='banner'] h1 {
    margin-top: 0.5em;
  }
  header[role='banner'] h1::after {
    margin-top: 2.2em;
  }
  .summary {
    margin-top: 15em;
    font-size: 0.5em;
    line-height: 3em;
    width: 60%;
  }
  .wrapper {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 2em;
    line-height: 4em;
    text-align: left;
    margin-top: 9em;
    margin-bottom: 3em;
    text-align: left;
    left: 0;
    padding: 10%;
  }

  .select::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background: black;
    bottom: 145vw;
    left: 0;
  }
  .archives::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 137vw;
    left: 0;
  }
  .archives::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 129.5vw;
    left: 0;
  }
  .resources::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 121.5vw;
    left: 0;
  }
  nav ul li:nth-child(1)::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 113.5vw;
    left: 0;
  }
  nav ul li:nth-child(1)::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 106vw;
    left: 0;
  }
  nav ul li:nth-child(2)::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 97vw;
    left: 0;
  }
  nav ul li:nth-child(2)::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 89.5vw;
    left: 0;
  }
  nav ul li:nth-child(3)::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 82vw;
    left: 0;
  }
  /* nav ul li:nth-child(3)::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 90vw;
    left: 0; */

  nav ul li:nth-child(4)::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background: black;
    bottom: 74vw;
    left: 0;
  }
  nav ul li:nth-child(4)::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 66vw;
    left: 0;
  }
  .select::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 58vw;
    left: 0;
  }
  .resources::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background: black;
    bottom: 50vw;
    left: 0;
  }
  .view-css::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 42vw;
    left: 0;
  }
  .view-css::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 33vw;
    left: 0;
  }
  .css-resources::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 26vw;
    left: 0;
  }
  /* .css-resources::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: -33vw;
    left: 0;
  } */
}
@media (max-width: 640px) {
  .extra1::after {
    content: 'PROJECT';
  }
  .extra3::after {
    content: 'DESIGNER';
  }
  header[role='banner'] h1 {
    margin-top: 2em;
  }
  header[role='banner'] h1::after {
    margin-top: 3.2em;
  }
  .summary {
    margin-top: 15em;
    font-size: 0.8em;
    line-height: 3em;
    width: 60%;
  }
  .preamble {
    transform: rotate(0deg);
    animation: none;
  }
  .preamble h3,
  .explanation h3,
  .participation h3,
  .benefits h3,
  .requirements h3 {
    animation: none;
    font-size: 2em;
  }
  .preamble p {
    animation: none;
  }
  .preamble::before {
    top: 0;
    left: -400px;
    animation: none;
  }
  .main {
    top: -3em;
    align-items: center;
  }
  .explanation,
  .participation,
  .benefits,
  .requirements {
    width: 80%;
    height: 100%;
    text-align: left;
    left: 1.5%;
    margin-bottom: 3em;
  }
  .explanation::before {
    transform: rotate(45deg);
    letter-spacing: -2vw;
    left: 1.2em;
    top: 1em;
    animation: none;
  }
  .benefits::before {
    top: -50em;
    left: -40em;
    animation: none;
  }
  .benefits::after {
    top: 0.1em;
    left: 0.3em;
    animation: none;
  }
  .requirements::before {
    width: 40em;
    height: 20em;
    transform: rotate(-65deg);
    top: 50em;
    left: -0px;
    animation: none;
  }
  .requirements::after {
    width: 40em;
    height: 20em;
    transform: rotate(-55deg);
    top: 50em;
    left: -0px;
    animation: none;
  }
  .wrapper {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 3em;
    line-height: 4em;
    text-align: left;
    margin-top: 9em;
    margin-bottom: 3em;
    text-align: left;
    left: 0;
    padding: 10%;
  }

  .select::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background: black;
    bottom: 225vw;
    left: 0;
  }
  .archives::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 214vw;
    left: 0;
  }
  .archives::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 202vw;
    left: 0;
  }
  .resources::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 190vw;
    left: 0;
  }
  nav ul li:nth-child(1)::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 178vw;
    left: 0;
  }
  nav ul li:nth-child(1)::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 165vw;
    left: 0;
  }
  nav ul li:nth-child(2)::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 154vw;
    left: 0;
  }
  nav ul li:nth-child(2)::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 142vw;
    left: 0;
  }
  nav ul li:nth-child(3)::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 130vw;
    left: 0;
  }
  nav ul li:nth-child(3)::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 118vw;
    left: 0;
  }
  nav ul li:nth-child(4)::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background: black;
    bottom: 106vw;
    left: 0;
  }
  nav ul li:nth-child(4)::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 94vw;
    left: 0;
  }
  .select::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 81vw;
    left: 0;
  }
  .resources::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background: black;
    bottom: 69vw;
    left: 0;
  }
  .view-css::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 57vw;
    left: 0;
  }
  .view-css::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 45vw;
    left: 0;
  }
  .css-resources::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 34vw;
    left: 0;
  }
  .css-resources::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    bottom: 22vw;
    left: 0;
  }
}
